{% extends 'buyer/base.html' %}

{% block lbwz %}
    <!--轮播 -->
    <div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            <li class="banner1"><a href="introduction.html"><img src="/static/buyer/images/ad1.jpg" /></a></li>
            <li class="banner2"><a><img src="/static/buyer/images/ad2.jpg" /></a></li>
            <li class="banner3"><a><img src="/static/buyer/images/ad3.jpg" /></a></li>
            <li class="banner4"><a><img src="/static/buyer/images/ad4.jpg" /></a></li>
        </ul>
    </div>
    <div class="clear"></div>
{% endblock %}

    <div class="shopNav">
        <div class="slideall">


            {% block navfull %}
                <!--侧边导航 -->
                <div id="nav" class="navfull">
                    <div class="area clearfix">
                        <div class="category-content" id="guide_2">

                            <div class="category">
                                <ul class="category-list" id="js_climit_li">
                                    {% for j in shop_type %}



                                    <li class="appliance js_toggle relative">
                                        <div class="category-info">
                                            <h3 class="category-name b-category-name"><i><img src="/static/{{ j.t_picture }}"></i><a class="ml-22" title="零食">{{ j.t_classify }}</a></h3>
                                            <em>&gt;</em></div>
                                        <div class="menu-item menu-in top">
                                            <div class="area-in">
                                                <div class="area-bg">
                                                    <div class="menu-srot">
                                                        <div class="sort-side">
                                                            <dl class="dl-sort">
                                                                <dt><span title="蛋糕">蛋糕</span></dt>
                                                                <dd><a title="蒸蛋糕" href="#"><span>蒸蛋糕</span></a></dd>
                                                                <dd><a title="脱水蛋糕" href="#"><span>脱水蛋糕</span></a></dd>
                                                                <dd><a title="瑞士卷" href="#"><span>瑞士卷</span></a></dd>
                                                                <dd><a title="软面包" href="#"><span>软面包</span></a></dd>
                                                                <dd><a title="马卡龙" href="#"><span>马卡龙</span></a></dd>
                                                                <dd><a title="千层饼" href="#"><span>千层饼</span></a></dd>
                                                                <dd><a title="甜甜圈" href="#"><span>甜甜圈</span></a></dd>
                                                                <dd><a title="蒸三明治" href="#"><span>蒸三明治</span></a></dd>
                                                                <dd><a title="铜锣烧" href="#"><span>铜锣烧</span></a></dd>
                                                            </dl>
                                                            <dl class="dl-sort">
                                                                <dt><span title="蛋糕">点心</span></dt>
                                                                <dd><a title="蒸蛋糕" href="#"><span>蒸蛋糕</span></a></dd>
                                                                <dd><a title="脱水蛋糕" href="#"><span>脱水蛋糕</span></a></dd>
                                                                <dd><a title="瑞士卷" href="#"><span>瑞士卷</span></a></dd>
                                                                <dd><a title="软面包" href="#"><span>软面包</span></a></dd>
                                                                <dd><a title="马卡龙" href="#"><span>马卡龙</span></a></dd>
                                                                <dd><a title="千层饼" href="#"><span>千层饼</span></a></dd>
                                                                <dd><a title="甜甜圈" href="#"><span>甜甜圈</span></a></dd>
                                                                <dd><a title="蒸三明治" href="#"><span>蒸三明治</span></a></dd>
                                                                <dd><a title="铜锣烧" href="#"><span>铜锣烧</span></a></dd>
                                                            </dl>

                                                        </div>
                                                        <div class="brand-side">
                                                            <dl class="dl-sort"><dt><span>实力商家</span></dt>
                                                                <dd><a rel="nofollow" title="呵官方旗舰店" target="_blank" href="#" rel="nofollow"><span  class="red" >呵官方旗舰店</span></a></dd>
                                                                <dd><a rel="nofollow" title="格瑞旗舰店" target="_blank" href="#" rel="nofollow"><span >格瑞旗舰店</span></a></dd>
                                                                <dd><a rel="nofollow" title="飞彦大厂直供" target="_blank" href="#" rel="nofollow"><span  class="red" >飞彦大厂直供</span></a></dd>
                                                                <dd><a rel="nofollow" title="红e·艾菲妮" target="_blank" href="#" rel="nofollow"><span >红e·艾菲妮</span></a></dd>
                                                                <dd><a rel="nofollow" title="本真旗舰店" target="_blank" href="#" rel="nofollow"><span  class="red" >本真旗舰店</span></a></dd>
                                                                <dd><a rel="nofollow" title="杭派女装批发网" target="_blank" href="#" rel="nofollow"><span  class="red" >杭派女装批发网</span></a></dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <b class="arrow"></b>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            {% endblock %}


            {% block marqueen %}
                <!--走马灯 -->
                <div class="marqueen">
                <span class="marqueen-title">商城头条</span>
                <div class="demo">

                    <ul>
                        <li class="title-first"><a target="_blank" href="#">
                            <img src="/static/buyer/images/TJ2.jpg"></img>
                            <span>[特惠]</span>商城爆品1分秒
                        </a></li>
                        <li class="title-first"><a target="_blank" href="#">
                            <span>[公告]</span>商城与广州市签署战略合作协议
                             <img src="/static/buyer/images/TJ.jpg"></img>
                             <p>XXXXXXXXXXXXXXXXXX</p>
                        </a></li>
                <div class="mod-vip">
                        <div class="m-baseinfo">
                            <a href="../person/index.html">
                                {% if u.picture %}
                                    <img src="/static/{{ u.picture }}">
                                {% else %}
                                    <img src="/static/buyer/images/getAvatar.do.jpg">
                                {% endif %}
                            </a>
                            <em>
                                Hi,<span class="s-name">
                                    {% if username %}
                                        {{ username }}
                                    {% else %}
                                        <en>你还没有登录哦</en>
                                    {% endif %}
                                    </span>
                                <a href="#"><p>点击更多优惠活动</p></a>
                            </em>
                        </div>
                {% if not username %}
                    <div class="member-logout">
                        <a class="am-btn-warning btn" href="/Buyer/login">登录</a>
                        <a class="am-btn-warning btn" href="/Buyer/register">注册</a>
                    </div>
                {% endif %}

                    <div class="member-login">
                        <a href="#"><strong>0</strong>待收货</a>
                        <a href="#"><strong>0</strong>待发货</a>
                        <a href="#"><strong>0</strong>待付款</a>
                        <a href="#"><strong>0</strong>待评价</a>
                    </div>
                    <div class="clear"></div>
                </div>

                        <li><a target="_blank" href="#"><span>[特惠]</span>洋河年末大促，低至两件五折</a></li>
                        <li><a target="_blank" href="#"><span>[公告]</span>华北、华中部分地区配送延迟</a></li>
                        <li><a target="_blank" href="#"><span>[特惠]</span>家电狂欢千亿礼券 买1送1！</a></li>

                    </ul>
                <div class="advTip"><img src="/static/buyer/images/advTip.jpg"/></div>
                </div>
                </div>
                <div class="clear"></div>
            {% endblock %}

        </div>
    </div>
    <div class="shopMainbg">
        <div class="shopMain" id="shopmain">

            {% block shopMain %}
                {% for ty in result %}
                    <div id="f2">
                    <!--坚果-->
                    <div class="am-container ">
                        <div class="shopTitle ">
                            <h4>{{ ty.type.t_classify }}</h4>
                            <h3>酥酥脆脆，回味无穷</h3>
                            <div class="today-brands ">
                                <a href="# ">腰果</a>
                                <a href="# ">松子</a>
                                <a href="# ">夏威夷果 </a>
                                <a href="# ">碧根果</a>
                                <a href="# ">开心果</a>
                                <a href="# ">核桃仁</a>
                            </div>
                            <span class="more ">
                                <a href="/Buyer/search/?type=t&keywords={{ ty.type.id }}">更多美味<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="am-g am-g-fixed floodThree ">
                        <div class="am-u-sm-4 text-four list">
                            <div class="word">
                                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                                <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                            </div>
                            <a href="#">
                                <img src="/static/buyer/images/act1.png " />
                                <div class="outer-con ">
                                    <div class="title ">
                                        雪之恋和风大福
                                    </div>
                                </div>
                            </a>
                            <div class="triangle-topright"></div>
                        </div>
                        {% for goods in ty.goods_list %}
                            <div class="am-u-sm-4 text-four">
                            <a href="/Buyer/goods_info/{{ goods.id }}">
                                <img src="/static/{{ goods.g_photo }}" />
                                <div class="outer-con ">
                                    <div class="title ">
                                        <en>{{ goods.r_id.r_name }} </en>{{ goods.g_name }}
                                    </div>
                                    <div class="sub-title " style="float: left">
                                        ￥<span style="color: red">{{ goods.g_price}}</span>
                                    </div>
                                    <div style="float: right;width: 80px">
                                        <span style="font-size: 12px;text-align: center">浏览量：{{ goods.g_hits }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                    </div>

                    <div class="clear "></div>
                    </div>
                    <div class="clear "></div>
                {% endfor %}

            {% endblock %}

            <div class="footer ">
                <div class="footer-hd ">
                    <p>
                        <b>|</b>
                        <a href="/">商城首页</a>
                        <b>|</b>
                        <a href="https://www.alipay.com/">支付宝</a>
                        <b>|</b>
                    </p>
                </div>
                <div class="footer-bd ">
                    <p>
                        <a href="#">合作伙伴</a>
                        <a href="#">联系我们</a>
                        <em>© 2019- zhanli.com 版权所有 - Collect from</em>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% block script %}{% endblock %}